.animal-img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.animal-img:hover{
  transform: scale(1.2);
  box-shadow:0px 0px 10px rgb(108, 223, 214);

}

.bg-img{
 background-image: url("https://images.unsplash.com/photo-1584706368162-73c7dab84d68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1936&q=80");
 background-position: cover;
 background-repeat: no-repeat;
 background-position-y: -15rem;
}


button {
  color: white;
  background-color: rgba(87, 216, 248, 0.582);
  border: none;
  box-shadow: 0px 0px 10px rgb(108, 223, 214);
  border-radius: 5px;
}

button:hover{
  background-color:rgba(183, 220, 241, 0.548);
  box-shadow:  rgb(241, 216, 220);
}